node_modules
dist
build
coverage
.turbo
.cache
*.log
.env
.env.local
.env.*.local
!.env.example
!client/.env.example

# Prisma
database/generated

# Storage
storage/local/**
!storage/local/.gitkeep

# OS / IDE
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json

# TypeScript
*.tsbuildinfo
